@model Sell_Train_Ticket.Models.Route
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
    <h1>Add New Route</h1>
}
else
{
    <h1>Edit Route</h1>
}

@using (Html.BeginForm("Save", "Route", new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="mt-2">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" class="btn btn-primary mt-4" value="Save" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
