@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (User.IsInRole("Manager"))
    {
        <div class="navbar bg-dark">
            <div class="container">
                <div class="nav">
                    @Html.ActionLink("Customer", "Index", "Customer", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Station", "Index", "Station", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Route", "Index", "Route", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Train", "Index", "Train", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Wagon", "Index", "Wagon", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Seat", "Index", "Seat", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Trip", "Index", "Trip", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Ticket", "Index", "Ticket", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.ActionLink("Statistic", "Trip", "Statistic", new { area = "" }, new { @class = "nav-link text-white" })
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/Home/Index" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class="bi me-2" width="40" height="32" src="http://cdn.onlinewebfonts.com/svg/img_460351.png" aria-label="Bootstrap"></img>
                </a>


                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Home/Index" class="nav-link px-2 link-dark">Book ticket</a></li>
                    <li><a href="/Ticket/Refund" class="nav-link px-2 link-dark">Refund ticket</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-flex justify-content-end" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link link-dark px-2" })

                            <a class="nav-link link-dark px-2" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                    }
                    else
                    {
                        <ul class="nav" style="justify-content: flex-end;">
                            <li class="nav-item">
                                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link link-dark px-2" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link link-dark px-2" })
                            </li>
                        </ul>
                    }
                </div>
            </header>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
    </div>

    @if (!User.IsInRole("Manager"))
    {
        <div class="b-example-divider mt-5" style="height: 0.1rem"></div>
        <div class="container">
            <footer class="pt-5">
                <div class="row">
                    <div class="col-6">
                        <h2>Group 10</h2>
                        <h4>Building a website for selling train ticket</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h2>Lecturer</h2>
                        <h4>ThS.Nguyen Tran Thi Van</h4>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
                    <p>&copy; 2022 ShTrain, Inc. All rights reserved.</p>
                </div>
            </footer>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>