@model Sell_Train_Ticket.ViewModels.WagonViewModel
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Wagon.Id == 0)
{
    <h1>Add New Wagon</h1>
}
else
{
    <h1>Edit Wagon</h1>
}

@using (Html.BeginForm("Save", "Wagon", new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="mt-2">
        @Html.LabelFor(m => m.Wagon.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Wagon.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="mt-2">
        @Html.LabelFor(m => m.Wagon.TrainId, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.Wagon.TrainId, new SelectList(Model.Trains, "Id", "Name"), "Choose Train", new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.Wagon.Id)
    <div class="">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" class="btn btn-primary mt-4" value="Save" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

