@model Sell_Train_Ticket.ViewModels.FindTripViewModel
@{
    ViewBag.Title = "Home Page";
}

<main class="container">

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p>Some representative placeholder content for the first slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row mb-2 justify-content-center">
        <div class="col-md-9">
            <div class="g-0 border rounded overflow-hidden shadow-sm p-4">
                <h2>Trip Information</h2>
                @using (Html.BeginForm("FindTrip", "Ticket", new { @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="autocomplete">
                        <label class="control-label" for="DepartureStation">Departure Station</label>
                        @Html.DropDownListFor(m => m.DepartureStation, new SelectList(Model.Stations, "Id", "Name"), "Choose Station", new { @class = "form-control" })
                    </div>
                    <div class="autocomplete">
                        <label class="control-label" for="DestinationStation">Destination Station</label>
                        @Html.DropDownListFor(m => m.DestinationStation, new SelectList(Model.Stations, "Id", "Name"), "Choose Station", new { @class = "form-control" })
                    </div>
                    <div class='input-group-date' id='datetimepickerDeparture'>
                        <label class="control-label" for="DepartureDate">Departure Date</label>
                        @Html.TextBoxFor(m => m.DepartureDate, new { @type = "date", @class = "form-control" })
                    </div>
                    if (!Model.AnnounceMessage.IsEmpty())
                    {
                        <div class="text-danger">@Model.AnnounceMessage</div>
                    }
                    <input type="submit" class="btn btn-primary mt-3" value="Booking" />
                }
            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/main.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}